body {
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    Padding:0;
    line-height:1.6;
    background: linear-gradient(to right, #e7dbd8, #c7b8ac);
    
}
nav{
    background: rgb(142, 182, 182);
    padding:1rem;
    text-align: center;
    justify-content: center;
}
Nav ul{
    text-align: center;
    list-style: none;
    Padding:0;
    display: flex;
    justify-content: center;
    
}
nav li {
    margin-right: 20px;   /* this add space between items */
    text-align: center;
  }

nav ul li a {
    color: rgb(14, 10, 10);
    text-decoration: none;
    font-weight: normal;
}

nav ul li a:hover {
    text-decoration: none;
    color: #7e8286; 
    
}

section {
    padding: auto;
}

#about,#skills,#projects,#contact {
    padding: auto;
    margin: 20px;
}

h2 {
    font-size: 2rem;
    color: #333;
}

footer {
    background-color: #3f4041;
    color: white;
    text-align: center;
    padding: 10px;
    text-align: center;
    justify-content: center
}